div{
    background-image: url(https://img.freepik.com/foto-gratis/vista-coche-tridimensional_23-2150998585.jpg?size=626&ext=jpg&ga=GA1.2.1887843935.1705781025&semt=sph);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% ;
color: #fff;
}